body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

h3{
    text-align: center;
    margin-bottom: 20px;
      font-size: 3.0em;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: steelblue;
}

.field {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
     font-size: 1.2em;
}

.control {
    display: flex;
    align-items: center;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.select {
    width: 100%;
}

.button {
    background-color: #3273dc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #2459b3;
}
